:root {
  --steam-bg: #171a21;
  --steam-bg-alt: #1b2838;
  --steam-text: #c7d5e0; /* Actualizado al color solicitado */
  --steam-link: #66c0f4;
  --steam-link-hover: #1999ff;
  --steam-header: #171a21;
  --steam-sidebar: #1b2838;

  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: var(--steam-bg-alt);
  color: var(--steam-text);
  overflow: hidden; /* Evita el scroll en el body */
}
